train2.ipynb
mem_eval.py
.model/*
*.pth
model_1000_loss.txt
model_fixed_1000_loss.txt
__pycache__/
Inference Images/
weights/
test.py
waifu-diffusion-n-cts_1000-30000-loss.txt
convert.py
plot.ipynb
Noise/
Inference Steps/
flower-diffusion-loss.txt
animals-diffusion-n-cts_1000-4000-loss.txt
mnist-diffusion-n-cts_1000-4000-loss.txt
number-diffusion-loss.txt
waifu-diffusion-loss.txt